.grain
.intro
  .center
    .core
    .outer_one
      -(1..36).each do
        .outer_one__piece
    .outer_two
      -(1..36).each do
        .outer_two__piece
    .outer_three
      -(1..36).each do
        .outer_three__piece
    .outer_four
      -(1..36).each do
        .outer_four__piece
    .outer_five
      -(1..36).each do
        .outer_five__piece
    .pieces
      .future_ui__piece
        %span Warp drive
        .line
        .tip
          Yes, commander!
      .future_ui__piece
        %span Teleport
        .line
        .tip
          Beam me up!
      .future_ui__piece
        %span Fusion core
        .line
        .tip
          Engineering!
      .future_ui__piece
        %span Laser target
        .line
        .tip
          Charge laz0rs!
      .future_ui__piece
        %span Shields
        .line
        .tip
          Status report!
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank
      .future_ui__piece.blank

